@{
    ViewBag.Title = "Index";
}
@*//Content Header (Page header)*@
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h3>Thống kê</h3>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/admin/home/">Trang chủ</a></li>
                    <li class="breadcrumb-item active"><a href="/admin/statistical/">Thống kê</a></li>
                </ol>
            </div>
        </div>
    </div>

</section>
<section class="content">

    <div class="card">
        <div class="card-header">


            @*<div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>*@
            <p><a href="/admin/statistical/" class="btn btn-success" style="margin-top:25px">Danh sách doanh thu</a></p>

            <div class="row mb-3">
                <div class="col-md-3">
                    Từ ngày: <input type="text" id="fromDate" class="form-control" placeholder="dd/mm/yyyy">
                </div>
                <div class="col-md-3">
                    Đến ngày: <input type="text" id="toDate" class="form-control" placeholder="dd/mm/yyyy">
                </div>
                <div class="col-md-3">

                    <p><button type="button" id="btnFilter" class="btn btn-primary" style="margin-top:25px">Lọc</button></p>
                </div>
                <div class="col-md-3">
                </div>
            </div>

        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-md-8">
                    <div class="chart">
                        <canvas id="barChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                    </div>
                </div>
                <div class="col-md-4">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Ngày</th>
                                <th>Doanh thu</th>
                                <th>Lợi nhuận</th>
                            </tr>
                        </thead>
                        <tbody id="load_data"></tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="card-footer">

        </div>

    </div>

</section>

@section scripts{
    <script src="~/Content/clients/plugins/chart.js/Chart.min.js"></script>
    <script src="~/Content/assets/plugins/moment/moment.min.js"></script>
    <script>
        $(function () {
            // Initial load with default parameters
            loadData('');

            //$('#btnFilter').click(function () {
            //    var fromDate = $('#fromDate').val();
            //    var toDate = $('#toDate').val();
            //    loadData(fromDate, toDate);
            //});

            $('#btnFilter').click(function () {
                var fromDate = $('#fromDate').val();
                var toDate = $('#toDate').val();

                // Kiểm tra định dạng ngày
                if (!isValidDate(fromDate) || !isValidDate(toDate)) {
                    alert('Định dạng ngày không đúng. Vui lòng nhập lại theo định dạng dd/mm/yyyy.');
                    return;
                }

                loadData(fromDate, toDate);
            });

            function loadData(fromDate, toDate) {
                var arrDoanhThu = [];
                var arrLoiNhuan = [];
                var arrDate = [];

                $.ajax({
                    url: '/Statistical/GetStatistical',
                    type: 'GET',
                    data: { fromDate: fromDate, toDate: toDate },
                    success: function (rs) {
                        arrDoanhThu = [];
                        arrLoiNhuan = [];
                        arrDate = [];

                        $.each(rs.Data, function (i, item) {
                            var strDate = moment(item.Date).format('DD/MM/yyyy');
                            arrDate.push(strDate);
                            arrDoanhThu.push(item.DoanhThu);
                            arrLoiNhuan.push(item.LoiNhuan);
                        });

                        var areaChartData = {
                            labels: arrDate,
                            datasets: [
                                {
                                    label: 'Lợi nhuận',
                                    backgroundColor: 'rgba(60,141,188,0.9)',
                                    borderColor: 'rgba(60,141,188,0.8)',
                                    pointRadius: false,
                                    pointColor: '#3b8bba',
                                    pointStrokeColor: 'rgba(60,141,188,1)',
                                    pointHighlightFill: '#fff',
                                    pointHighlightStroke: 'rgba(60,141,188,1)',
                                    data: arrLoiNhuan
                                },
                                {
                                    label: 'Doanh thu',
                                    backgroundColor: 'rgba(210, 214, 222, 1)',
                                    borderColor: 'rgba(210, 214, 222, 1)',
                                    pointRadius: false,
                                    pointColor: 'rgba(210, 214, 222, 1)',
                                    pointStrokeColor: '#c1c7d1',
                                    pointHighlightFill: '#fff',
                                    pointHighlightStroke: 'rgba(220,220,220,1)',
                                    data: arrDoanhThu
                                },
                            ]
                        };

                        // Bar Chart
                        var barChartCanvas = $('#barChart').get(0).getContext('2d');
                        var barChartData = $.extend(true, {}, areaChartData);
                        var temp0 = areaChartData.datasets[0];
                        var temp1 = areaChartData.datasets[1];
                        barChartData.datasets[0] = temp1;
                        barChartData.datasets[1] = temp0;

                        var barChartOptions = {
                            responsive: true,
                            maintainAspectRatio: false,
                            datasetFill: false
                        };

                        new Chart(barChartCanvas, {
                            type: 'bar',
                            data: barChartData,
                            options: barChartOptions
                        });

                        load_data(rs.Data);
                    }
                });
            }
            function isValidDate(dateString) {
                var regex = /^\d{2}\/\d{2}\/\d{4}$/;
                return regex.test(dateString);
            }

            function load_data(data) {
                var strHtml = "";
                if (data.length === 0) {
                    strHtml += "<tr><td colspan='4'>Không có doanh thu trong khoảng thời gian này.</td></tr>";
                } else {
                    $.each(data, function (i, item) {
                        var strDate = moment(item.Date).format('DD/MM/yyyy');
                        strHtml += "<tr>";
                        strHtml += "<td>" + (i + 1) + "</td>";
                        strHtml += "<td>" + strDate + "</td>";
                        strHtml += "<td>" + item.DoanhThu + "</td>";
                        strHtml += "<td>" + item.LoiNhuan + "</td>";
                        strHtml += "</tr>";
                    });
                }
                $('#load_data').html(strHtml);
            }
        });
    </script>
}



